/* .swiper-button-prev {
  top: 98.5%;
  left: 875px;
}
.swiper-button-next {
  top: 98.5%;
  right: 875px;
} */

/* .swiper-button-next,
.swiper-button-prev {
  top: 99.5%; 
  transform: translateY(-50%);
  padding: 10px;
} 

.swiper-button-prev {
  left: 45%; 
}

.swiper-button-next {
  right: 45%; 
}
*/
